{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}Change Password{% endblock %}

{% block content %}
  <h2>Change Password</h2>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit">Submit</button>
  </form>
{% endblock %}