{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load icons %}
{% block title %}Project Search{% endblock title %}

{% block content %}

<form method="GET">
	 <div class="form-row">
		  <div class="form-group col-md-2 col-lg-2">
            <label for="titleContains">Title Contains</label>
            <input type="search" class="form-control" id="title_contains" name="title_contains">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="addedDate">Added Date</label>
            <input type="date" class="form-control" id="added_date" name="added_date">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="expirationDate">Expires before</label>
            <input type="date" class="form-control" id="expiration_date" name="expiration_date">
          </div>
		  <div class="form-group col-md-2 col-lg-2">
            <label for="location">Location</label>
            <input type="search" class="form-control" id="location" name="location">
          </div>
			<button type="submit" class="btn btn-primary">Search</button>
			
	</div>	
</form>			

<div class="row">


             {% for project in queryset %}
			 {% if project.status == project.OPEN %}
			 <a class="open-project-view-item" href="{% url 'project_view' project_id=project.id%}">
                  <div class="col-md mb-3 ml-3 mr-3 mt-3 project-box-style">
                    <div class="media">
                      <img class="align-self-top mr-3 mt-5 project-image" src="{% static 'img/idea.jpg' %}" alt="Generic placeholder image." />
                      <div class="media-body">
                        <h5 class="mt-3"> {% icon 'tasks' %} {{project.title}}</h5>
                        <p>Posted by: {{project.user.user.username}}</p>
                        <p class="project-description">{{project.description}}</p>
                    </div>
                  </div>
                  </div>
                  </a>
             {% endif %}  
             {% endfor %}


</div>

        

{% endblock content %}